*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family:  "sans-serif";
}
body{
    background: #333;
    color : #fff;
    text-align: center;

}
.btn-box{
    margin-top: 5rem;
    height: 4rem;
    width: 7rem;
    color: #fff;
    border-radius: 2rem;
    border : none;
    background: #DC143C ;
    font-size: 2rem;
    cursor: pointer;
    font-family: "sans-serif";
    
}
.container {
    margin-top: 3rem;

}